@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CucuruchoWeb";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
@if (Request.IsAuthenticated)
{

       
 
        <div class=" container-scroller">
            <!-- partial:partials/_navbar.html -->
            @Html.Partial("_navbar")
            <div class="container-fluid">
                
                <div class="row row-offcanvas row-offcanvas-right">
                    @Html.Partial("_sidebar")
                    @Html.Partial("_Slider")
                    @*<div class="content-wrapper">
                            @Html.Action("Login", "Account")
                        </div>*@
                </div>
            </div>

        </div>

        }
        else
        {
        @Html.Action("Login", "Account")
        }

